{% extends "base_login.html" %}
{% load static from staticfiles %}

{% block sidebar_item %} "expenses" {% endblock sidebar_item %}
{% block page_title %} Delete Expense {% endblock page_title %} 
{% block page_id %} delete_expense {% endblock page_id %}
{% block main_content %}
    
    {{ model_html.styled }}
    <form action='' method="POST" class="col-xs-5" style="margin-top:25px;" id="delete_form">
        {% csrf_token %}
    <a href="{{ expense.get_absolute_url }}" class="btn btn-default" role="button" id="cancel"> Cancel </a>    
    <input type="submit" value="Delete" class="btn btn-danger save"> 
    </form>
    
{% endblock main_content %}
