{% extends "base_login.html" %}
{% load static from staticfiles %}

{% block sidebar_item %} "expenses" {% endblock sidebar_item %}
{% block page_title %} Edit Expense {% endblock page_title %} 
{% block page_id %} edit_expense {% endblock page_id %}
{% block main_content %}
    
    
    <form action='' method="POST" class="col-xs-5" id="expense_form">
        {% csrf_token %}
        {{ form.as_p }}
    
    <a href="{{ expense.get_absolute_url }}" class="btn btn-danger" role="button"> Cancel </a>    
    <input type="submit" value="Save" class="btn btn-success save"> 
    </form>
    
{% endblock main_content %}
