{% extends "base_public.html" %}


{% block main_content %}

    <div class="col-xs-6">
    
        <p>
        <br>
        Divorce is not what you expect for in marriage, but it happens, and probably to more couples over the years.
        <br> As a divorced parent, you quickly find out that managing shared expenses is a mess: you forget
        to log expenses, nobody remembers where and when an expense was made.
        <br> Did you agree to participate? did your divorcee agree?
        <br> Weeks go by, and it's even harder to reconcile and accurately calculate each divorcee share.
        Next, it can quickly lead to hostility and totally unnecessary arguments.
        <br><br> Sometimes you just need to log and review expenses in your own time, and so is your divorcee.
        You want to approve what you agree to, balance each month, and, have a clear history of who paid what. 
        Once everyrhing is clear and calmly managed, it's easier to share and agree.
        <br><br> From this personal need, I built this tool. It might just help you too!
        <br><br> Aviah
        </p>
    
    
    </div>
    
{% endblock %}