{% extends "base_public.html" %}
{% load static from staticfiles %}


{% block main_content %}

    <div class="content">
        <h1> {{ intro }} </h1>
        <p> Your IP is {{ ip }} </p>
        <p> DEBUG is {{ is_debug }} </p>
    </div>
            
    
    <div class="content">    
        <h3> Static files: </h3>
        <p> Click the button, if static files work, an alert should appear </p>
        <button type="button" onClick="show_static_info();" class="info"> Static Files Info </button>    
    </div>
    
    <div class="content">
        <h3> Image from static files: </h3>
        <p> Directory for the site pre-prepared, optimized media (e.g. logo, favicon, icons)</p>
        <img src="{% static 'powered-by-django.gif' %}">
    </div>
    
    <div class="content">
        <h3> Image from media uploads: </h3>
        <p> Directory for the users' uploaded media (e.g. avatars)</p>
        <img src="{{ MEDIA_URL }}avatar.png"  class="avatar"/>
    </div>
    
    
<p> The site is powered by {{ DJANGO_VER }}  </p>    


{% endblock main_content %}
